.elementBars {
  background-color: #1a1a1a;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementBarContainer {
  width: 90%;
  padding: 5px; 
  /*background-color: #1a1a1a;*/
  margin: 5px auto;
  border: 1px solid #333333;
}

.elementBarTitle {
  padding-bottom: 5px;
  color: #666666;
}

.elementBarGrid {
  width: 174px; /* 13px * 8 + 10px * 7 */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
}

app-piercing-bar {
  width: 13px;
}

.agressionBar {
  background-color: #cccccc;
  color: black;
}

.agressionBarText {
  padding-left: 5px;
}

.horizontalBar {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

.horizontalBar > div {
  display: inline-block;
  overflow: hidden;
  height: 1.2em;
  text-align: center;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  /*border-radius: 0.6em;*/
}

.horizontalBar > div:first-child {
  border-top-left-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
}

.horizontalBar > div:last-child {
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}

.agressive {
  background-color: rgb(192, 0, 0);
  color: white;
}

.mixed {
  background-color: gold;
}

.defensive {
  background-color: lightblue;
  color: black;
}

.whiteLink {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}