@if (unit){
  <div>
    <div class="displayTitle">{{unit.internalName}}</div>
    <div class="displayDesc1">
      <div>Vitality mod: {{unit.vitalityScale}}</div>
      <div>Strength mod: {{unit.strengthScale}}</div>
      <div>Instinct mod: {{unit.magicScale}}</div>
      <div>Speed mod: {{unit.speedScale}}</div>
      <div>Focus: {{unit.focus}}</div>
      <div class="agressionBar">
        <div>Agression AI:</div>
        <div class="horizontalBar">
          @let agressiveSize = 100 - unit.agressiveHP();
          <div class="agressive" [style]="'width: ' + agressiveSize + '%;'">
            @if (agressiveSize >= 30){
              &gt; {{unit.agressiveHP()}}% HP
            } @else if (agressiveSize >= 20) {
              &gt; {{unit.agressiveHP()}}%
            } @else if (agressiveSize <= 5){

            }
            @else {
              {{unit.agressiveHP()}}
            }
          </div>
          <div class="mixed" [style]="'width: ' + unit.middleHP() + '%;'">
            @if (unit.middleHP() >= 40){
              {{unit.defensiveHP()}}% - {{unit.agressiveHP()}}%
            } @else if (unit.middleHP() >= 25) {
              {{unit.defensiveHP()}}-{{unit.agressiveHP()}}%
            } @else if (unit.middleHP() >= 20) {
              {{unit.defensiveHP()}}-{{unit.agressiveHP()}}
            } @else {
              
            }
          </div>
          <div class="defensive" [style]="'width: ' + unit.defensiveHP() + '%;'">
            @if (unit.defensiveHP() >= 30){
              &lt; {{unit.defensiveHP()}}% HP
            } @else if (unit.defensiveHP() >= 20) {
              &lt; {{unit.defensiveHP()}}%
            } @else if (unit.defensiveHP() <= 5){

            }
            @else {
              {{unit.defensiveHP()}}
            }
          </div>
        </div>
        <!--div>Chance to use: {{unit.middleHPrandomness()}}%</div-->
      </div>
      
    </div>
  </div>
}