.abilityId {
    color: rgb(70, 70, 70);
    font-weight: normal;
    /*text-align: right;*/
}

.abilityBuffId {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.abilityCritChance {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.internalName {
    font-style: italic;
}

.right {
    float: right;
}

.small {
    font-size: x-small;
    color: rgb(50, 50, 50);
}