@if (item) {
  <div>
    <div [class]="['displayTitle', 'rarity' + item.rarity]">
      <a class="buffName" [routerLink]="addLink ? ['/item', item.id] : null">
        <span>
          @if (item.localizedName()){
            {{item.localizedName()}}
          } @else {
            <span class="unnamed" title="This item has no translation">{{item.internalName}}</span>
          }
        </span>
        <span class="right">
          <span class="itemId">{{item.id}}</span> 
        </span>
      </a>
    </div>
    <div class="displaySubTitle">
      {{item.fullLevelRequirement()}}
    </div>
    <div class="displayDesc3">
      @let stats = item.rawStats;
      @if (stats.SpeedUP){
        <div>Speed {{item.speed | signedNumber }}</div>
      }
      @if (stats.MagicUP){
        <div>Instinct {{item.magic | signedNumber }}</div>
      }
      @if (stats.StrengthUP){
        <div>Strength {{item.strength | signedNumber }}</div>
      }
      @if (stats.HealthUP){
        <div>Vitality {{item.vitality | signedNumber }}</div>
      }
      @if (stats.FocusUP){
        <div>Focus {{item.focus | signedNumber }}</div>
      }
      @for (per of item.piercing; track $index){
        @if (per){
          <div>{{item.elementArray[$index]}} Piercing {{per | signedNumber}}</div>
        }
      }
      @for (def of item.defense; track $index){
        @if (def){
          <div>{{item.elementArray[$index]}} Defence {{def | signedNumber}}</div>
        }
      }
      @if (item.flavorText()){
        <div class="displayFlavor">{{item.flavorText()}}</div>
      }
    </div>
    <div class="displayDesc1">
      @if (item.localizedName() && item.localizedName() !== item.internalName){
        <div class="internal">Internal name: {{item.internalName}}</div>
      }
      <div>Buy price: €{{item.buyPrice()}}</div>
      <div>Sell price: €{{item.sellPrice() }}</div>
    </div>
  </div> 
}
