.itemId {
    color: rgb(70, 70, 70);
    font-weight: normal;
}

.right {
    float: right;
}

.unnamed {
    font-style: italic;
}

.internal {
    color: rgb(200, 200, 200);
}

.displayDesc3 {
    margin-bottom: 2px;
}

.displayDesc3 > div {
    padding-bottom: 3px;
}