/* Core */

html {
    cursor: default;
    /*background-color: #cccccc;*/
    /*color: white;*/
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* General */

#tooltip, .tooltip {
    position: fixed;
    opacity: 95%;
    max-width: 20%;
}

.gridDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3px;
}

/* Colors */

.Physical {
    color: #C40000;
}
.Magic {
    color: #FB95C8;
}
.Ice {
    color: #68CBF4;
}
.Fire {
    color: #FF6600;
}
.Lightning {
    color: #FFCC00;
}
.Earth {
    color: #856B47;
}
.Shadow {
    color: #664D80;
}
.Poison {
    color: #508349;
}

/* Game-like element display */

.displayTitle, .displaySubTitle {
    border: 1px solid black;
    color: black;
    padding: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(
        0deg, rgb(255, 255, 255) 0%, 
        rgb(200, 200, 200) 75%, 
        rgb(255, 255, 255) 100%
    );
    overflow: auto;
}

.displayTitle {
    font-weight: bold;
    margin-bottom: 2px;
}

.displayTitle a:link, .displayTitle a:visited {
    color: darkblue;
}

.rarityUncommon {
    background: rgb(194,205,255);
    background: linear-gradient(
        0deg, rgb(194, 205, 255) 0%, 
        rgb(136, 136, 187) 75%, 
        rgb(194, 205, 255) 100%
    );
}

.rarityRare {
    background: rgb(255,255,96);
    background: linear-gradient(
        0deg, rgb(255, 255, 96) 0%, 
        rgb(255, 192, 48) 75%, 
        rgb(255, 255, 96) 100%
    );
}

.displayCost {
    border: 1px solid black;
    color: black;
    padding: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(
        0deg, rgb(255, 255, 255) 0%, 
        rgb(155, 175, 180) 75%, 
        rgb(255, 255, 255) 100%
    );
}

.displayDesc1 {
    border: 1px solid black;
    padding: 2px;
    background-color: black;
    color: white;
    overflow-wrap: break-word;
}

.displayDesc2 {
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(50, 40, 50);
    color: rgb(255, 200, 0);
    height: 100%;
    overflow-wrap: break-word;
}

.displayDesc3 {
    border: 1px solid black;
    padding: 2px;
    background-color: black;
    color: rgb(255, 200, 0);
    height: 100%;
    overflow-wrap: break-word;
}

.displayFlavor {
    color: #B8FE4E;
}

/* High priority */

.hidden {
    display: none !important;
}