/* Core */

html {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    /*background-color: black;
    color: white;*/
}

a {
    cursor: pointer;
}

label:not(.inline), textarea {
    display: block;
}

textarea {
    width: 100%;
}

#tooltip {
    position: fixed;
    opacity: 95%;
    max-width: 20%;
}

/* Colors */

.Physical {
    color: #C40000;
}
.Magic {
    color: #FB95C8;
}
.Ice {
    color: #68CBF4;
}
.Fire {
    color: #FF6600;
}
.Lightning {
    color: #FFCC00;
}
.Earth {
    color: #856B47;
}
.Shadow {
    color: #664D80;
}
.Poison {
    color: #508349;
}

/* Game-like element display */

.displayTitle, .displaySubTitle {
    border: 1px solid black;
    color: black;
    padding: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(
        0deg, rgb(255, 255, 255) 0%, 
        rgb(200, 200, 200) 75%, 
        rgb(255, 255, 255) 100%
    );
    overflow: auto;
}

.displayTitle {
    font-weight: bold;
    margin-bottom: 2px;
}

.displayCost {
    border: 1px solid black;
    color: black;
    padding: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(
        0deg, rgb(255, 255, 255) 0%, 
        rgb(155, 175, 180) 75%, 
        rgb(255, 255, 255) 100%
    );
}

.displayDesc1 {
    border: 1px solid black;
    padding: 2px;
    background-color: black;
    color: white;
    overflow-wrap: break-word;
}

.displayDesc2 {
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(50, 40, 50);
    color: rgb(255, 200, 0);
    height: 100%;
    overflow-wrap: break-word;
}

/* High priority */

.hidden {
    display: none !important;
}