html {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    background-color: black;
    color: white;
}

a {
    cursor: pointer;
}

#tooltip {
    position: fixed;
    opacity: 95%;
    max-width: 20%;
}

#abilityTemplate, #buffTemplate {
    display: none;
}

.displayTitle, .displaySubTitle {
    border: 1px solid black;
    color: black;
    padding: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(
        0deg, rgb(255, 255, 255) 0%, 
        rgb(200, 200, 200) 75%, 
        rgb(255, 255, 255) 100%
    );
}

.displayTitle {
    font-weight: bold;
    margin-bottom: 2px;
}

.displayCost {
    border: 1px solid black;
    color: black;
    padding: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(
        0deg, rgb(255, 255, 255) 0%, 
        rgb(155, 175, 180) 75%, 
        rgb(255, 255, 255) 100%
    );
}

.displayDesc1 {
    border: 1px solid black;
    padding: 2px;
    background-color: black;
    color: white;
    overflow-wrap: break-word;
}

.displayDesc2 {
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(50, 40, 50);
    color: rgb(255, 200, 0);
    height: 100%;
    overflow-wrap: break-word;
}

#content .ability, #content .buff {
    width: 19%;
    vertical-align: top;
    display: inline-block;
    margin: 3px;
}

.abilityId {
    color: rgb(70, 70, 70);
    font-weight: normal;
    float: right;
    text-align: right;
}

.abilityBuffId {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
}